.danger-zone {
  color: red;
  font-weight: bold;
}
.option {
  margin: 15px;
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: "Audiowide", cursive;
}

.jumbotron {
  opacity: 0.8;
}

html,
body {
  height: 100%;
}
